  body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
  }
  
  .container {
    writing-mode: horizontal-tb;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2,minmax(100px, auto));
    grid-auto-flow: row;
    gap: 10px;
    padding: 1em;
    max-width: 30rem; */
  }

  img {
    width: 170px;
    height: 300px;
  }
  
  label {
    --flow-space: 1rem;
    display: grid;
    grid-template-columns: 180px min-content;
    gap: 0.2rem;
  }